
.card{
  box-shadow: 0 4px 8px 0 rgba(188, 129, 129, 0.2);
  display: inline-block;
  border: 10px solid transparent;
  margin: 10px;
  max-width: 300px;
}
.card img{
  height: 325px;
  width: 300px;
}


.price {
  color: grey;
  font-size: 22px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.movie-filter{
  display: flex;
}
.movie-filter h1{
  flex-grow: 1;
}
.sort{
  display: flex;
}
.collection-sort{
  display: flex;
  flex-direction: column;
}


/*NEW CSS
.movie-wrapper .flex.sm3{
  flex-basis: 25%;
  max-width: 25%;
}
.movie-wrapper .flex.xs6{
  flex-basis: 50%;
  max-width: 50%;
}
.movie-wrapper .flex {
  padding-right: 00.5rem;
  padding-left: 0.5rem;
}
.movie-wrapper.wrap{
  flex-wrap: wrap;
}
.movie-wrapper.row{
  flex-direction: row;
}
.movie-wrapper.column, .movie-wrapper.row{
  flex: 0 1 auto;
}
.movie-wrapper{
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

*/
