<section class="detailMovie" id="detailMovie">
  <button class="btn btn-dark" [routerLink]="['/user-dashboard']">Back</button>
  <div class="container">
    <div class="section-title">
      <h1>{{movie.movietitle}}</h1>
    </div>
    <hr>
    <div class="details">
      <div class="row flexbox-center">
        <div class="col-lg-5 text-lg-left text-center">
          <div class="movieDetails-content">
            <img src="{{movie.imageurl}}" alt="" height="300px" width=""/>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="movieDetails-content">
            <h2></h2>
            <p></p>
            <ul>
              <li>
                <div class="movieDetail-left">Genre:</div>
                <div class="movieDetail-right">
                  <div class="movieDetail-right">{{movie.genre}}</div>
                </div>
              </li>
              <li>
                <div class="movieDetail-left">Time:</div>
                <div class="movieDetail-right">{{movie.showtime}}</div>
              </li>

              <li>
                <div class="movieDetail-left">Language:</div>
                <div class="movieDetail-right">{{movie.language}}</div>
              </li>
              <li>
                <div class="movieDetail-left">Ticket Price:</div>
                <div class="movieDetail-right">R{{movie.ticketprice}}</div>
              </li>
              <li>
                <div class="movieDetail-left">Description:</div>
                <div class="movieDetail-right">{{movie.description}}</div>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <a [routerLink]="['/book/', movie.mid]">BOOK MOVIE</a>
    </div>
  </div>
</section>
