<h2>All Movie Records</h2>
<button type="button" [routerLink]="['/admin-dashboard']"  class="btn btn-dark">Back</button>
<div class="wrapper" *ngIf="flag">
  <div class="formContent">

    <p align="right">
      <button class="btn btn-light" (click)="onNoClick()">X</button>
    </p>
      <div class="edit-container">
        <h2>Edit Movie Details</h2>
        <form (ngSubmit)="updateMovieInfo()" >
        <div class="form-group">
          <label for="mid">Movie ID</label>
          <input type="number" [(ngModel)]="mid" name="mid" class="form-control" readonly />
        </div>

        <div class="form-group">
          <label for="imageurl">Movie Image</label>
          <input type="text" [(ngModel)]="imageurl" name="imageurl" class="form-control" readonly />
        </div>

        <div class="form-group">
          <label for="movietitle">Movie Title</label>
          <input type="text" [(ngModel)]="movietitle" name="movietitle" class="form-control" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" [(ngModel)]="description" name="description" class="form-control" />
        </div>

        <div class="form-group">
          <label for="showtime">Showing Times</label>
          <input type="text" [(ngModel)]="showtime" name="showtime" class="form-control" />
        </div>
        <div class="form-group">
          <label for="ticketprice">Ticket Price</label>
          <input type="number" [(ngModel)]="ticketprice" name="ticketprice" class="form-control" />
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" [(ngModel)]="quantity" name="quantity" class="form-control" />
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" [(ngModel)]="genre" name="genre" class="form-control" />
        </div>

        <div class="form-group">
          <label for="language">Language</label>
          <input type="text" [(ngModel)]="language" name="language" class="form-control" />
        </div>

        <br>

        <div class="form-group">
          <input type="submit" value="Done">
        </div>
      </form>
      </div>

  </div>


</div>

<div class="table-responsive">

  <table style="table-layout: fixed ; width: 100%;" class="table table-striped table-dark table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image ID</th>
        <th scope="col">Movie Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Description</th>
        <th scope="col">Language</th>
        <th scope="col">Ticket price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Show Times</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody *ngFor="let mv of movies" >
      <tr>
        <th scope="row">{{mv.mid}}</th>
        <td> <img src="{{mv.imageurl}}" width="100px" height="100px" /> </td>
        <td>{{mv.movietitle}}</td>
        <td>{{mv.genre}}</td>
        <td>{{mv.description}}</td>
        <td>{{mv.language}}</td>
        <td>R{{mv.ticketprice}}</td>
        <td>{{mv.quantity}}</td>
        <td>{{mv.showtime}}</td>
        <td> <button type="button" class="btn btn-danger" (click)="deleteMovieRecord(mv.mid)" >X</button> &nbsp;
             <button type="button" class="btn btn-success" (click)="editMovieRecord(mv)" >E</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>
