<div class="wrapper">
  <div class="formContent">

    <span>{{errorMsg}}</span>

    <h2>Create Profile</h2>
    <form [formGroup]="createRef" (ngSubmit)="createProfile()">

      <label for="firstname">First Name</label> <br>
      <input type="text" formControlName="firstname" placeholder="John" /> <br>

      <label for="lastname">Last Name</label> <br>
      <input type="text" formControlName="lastname" placeholder="Doe" /> <br>

      <label for="mobilenumber">Mobile Number</label> <br>
      <input type="text" formControlName="mobilenumber" placeholder="0119887602" /> <br>

      <label for="dob">Date of Birth</label> <br>
      <input type="date" formControlName="dob" placeholder="mm/dd/yyyy" /> <br>

      <label for="email">Email Address</label> <br>
      <input type="email" formControlName="email" placeholder="example@example.com" /> <br>

      <label for="password">Password</label> <br>
      <input type="password" formControlName="password" placeholder="******" /> <br>

      <label for="role">Role</label> &nbsp;
      <input type="radio" name="role" value="admin" formControlName="role" /> Admin
      <input type="radio" name="role" value="user" formControlName="role"> User

      <br>
      <input type="submit" value="Create Profile" /> &nbsp;
      <input type="reset" value="Clear Fields">

    </form>
    <div class="formFooter">
      <a routerLink="/signin">Sign In</a>
    </div>


  </div>
</div>
